<!doctype html>

<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/game/main.css" rel="stylesheet">
    <link href="/css/game/omok.css" rel="stylesheet">
    <link href="/css/utilStyle.css" rel="stylesheet">
    <title>Renju Omok</title>
    <style>
        #container {
            display: flex;
        }
        #box-left {
            margin-left: 40px;
            background: #ffffff;
            flex: 1;
        }
        #box-center {
            background: #ffffff;
            flex: 3;
            text-align: center;
        }
        #box-right {
            margin-right: 40px;
            background: #ffffff;
            flex: 1;
            text-align: right;
        }
    </style>

</head>

<div id="main-content" class="container">
    <div class="row">

        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label id="labelforgame" for="gamesearch">메인 화면 :</label>
                    <button id="gamesearch" class="btn btn-default" type="submit">게임 매칭 요청</button>
                    <button id="cancelsearch" class="btn btn-default" type="submit">게임 매칭 요청 취소</button>
                </div>
            </form>
        </div>

        <br>
        <br>
        <br>

        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label id="labelforconnect" for="connect">WebSocket connection:</label>
                    <button id="connect" class="btn btn-default" type="submit">Connect</button>
                    <button id="disconnect" class="btn btn-default" type="submit" disabled="disabled">Cancel
                    </button>
                </div>
            </form>
        </div>


        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label id="labelforname" for="name">What is your name?</label>
                    <input type="text" id="name" class="form-control" placeholder="Your name here...">
                </div>
                <button id="send" class="btn btn-default" type="submit">Send</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="conversation" class="table table-striped">
                <thead>
                <tr>
                    <th>Greetings</th>
                </tr>
                </thead>
                <tbody id="greetings">
                </tbody>
            </table>
        </div>
    </div>
</div>

<body>




<div class="header">
    <h1>Renju Omok</h1>
</div>
<br>
<br>

<div id='container'>
    <div id='box-left'>
        <h2 id="login-nickname">로그인 유저</h2>
        <h2 id="nickname">5초</h2>
    </div>
    <div id='box-center'>
        <div class="child" id="pos_board"></div>
    </div>

    <div id='box-right'>
        <h2 id="oppo-nickname">상대 유저</h2>
        <h2 id="oppo_nickname">5초</h2>
    </div>
</div>

<div id="buttons" class="panel">
    <button class="button" id="findGame" onclick="findGame();">게임 찾기</button>
    <button class="button" id="findingGame" onclick="findingGame();" style="display:none;">게임 찾는 중...</button><br/>
    <button class="button distance white" id="cancel" onclick="cancel();" style="display:none;">취소</button>
    <button class="button green" id="gameIng" onclick="gameIng();" style="display:none;">게임 진행 중</button>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>

<script src="/js/game/omok.js"></script>
<script src="/js/game/omok_renju.js"></script>
<script src="/js/game/game_ws.js" charset="UTF-8"></script>
<script src="/js/game/omok_simplegame.js"></script>
<script src="/util.js"></script>


</body>
</html>
