body{
    min-width: 1000px;
    min-height: 500px;
}

.panel {
    font: 16px "Open Sans", Helvetica, Arial, sans-serif;
    padding: 12px;
    /*width: 500px;*/
    width: auto;
    text-align: center;
    left: 40%;
    margin: 0 auto;
}

.button {
    font: 22px "Open Sans", Helvetica, Arial, sans-serif;
    padding: 5px 36px;
    background-color: #007acc;
    color: #FFFFFF;
    border-color:#000000;
    width: 225px;
    border-radius: 5px;
}

.button2 {
    font: 22px "Open Sans", Helvetica, Arial, sans-serif;
    padding: 3px 31px;
    background-color: #007acc;
    color: #FFFFFF;
    border-color:#000000;
    border-radius: 5px;
}

.buttonend {
    font: 22px "Open Sans", Helvetica, Arial, sans-serif;
    padding: 5px 36px;
    background-color : #0099FF;
    color : #FFFFFF;
    border-color:#000000;
    width : 190px;
    height: 80px;
    border-radius: 5px;
}

.yellow{
    background-color:#f5bf0d;
}

.green {
    background-color:#0fc70f;
}

.yellow{
    background-color:#ffce2dde;
}

.white {
    background-color: #FFFFFF;
    color: #000000;
}

.distance {
    margin-top: 10px;
}

/** 버튼 */