<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/auth/login.css">
</head>
<body>
<div class="inner_login">
    <form>
        <fieldset class="login_fieldset">
            <div class="login_txt"><span>LOGIN</span></div>
            <div class="box_login">
                <div class="inp_text">
                    <label for="loginId" class="screen_out"></label>
                    <input type="text" id="loginId" autofocus name="nickname" placeholder="아이디" >
                </div>
                <div class="inp_text">
                    <label for="loginPw" class="screen_out"></label>
                    <input type="password" id="loginPw" name="password" placeholder="비밀번호 (영문+숫자+특수문자 조합)">
                </div>
            </div>
            <div>
                <button type="submit" id="btnLogin" class="btnLogin">로그인</button>
                <div class="signup_container">
                    <p class="signup_query">계정이 없으신가요?</p>
                    <a href="/signup">가입하기</a>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<script src="/js/auth/loginFunc.js"></script>
</body>
</html>