<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="Content-Type" content="charset=UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<div class="inner_login">
<!--    <form method="post" id="authForm" action="/api/auth/login">-->
    <form>
        <fieldset>
            <legend class="screen_out">로그인</legend>
            <div class="box_login">
                <div class="inp_text">
                    <label for="loginId" class="screen_out">아이디</label>
                    <input type="text" id="loginId" autofocus name="nickname" placeholder="ID" >
                </div>
                <div class="inp_text">
                    <label for="loginPw" class="screen_out">비밀번호</label>
                    <input type="password" id="loginPw" name="password" placeholder="Password" >
                </div>
            </div>
        <!-- <button type="submit" class="btn_login"  disabled>로그인</button>-->
            <div>
            <button onclick="init()" id="btnLogin">로그인</button>
            <br>
            <button id="btnSignup">회원가입</button>
            </div>
            <div class="login_append">
                <span class="txt_find">
                <a href="/member/find/loginId" class="link_find">아이디</a>
                   /
                <a href="/member/find/password" class="link_find">비밀번호 찾기</a>
            </span>
            </div>
        </fieldset>
    </form>
</div>
    <script src="/loginFunc.js"></script>
</body>
</html>