<!DOCTYPE html>
<html lang="ko">
<head>
    <title>DGU OSSP SANTONG</title>
    <meta http-equiv="Content-Type" content="charset=UTF-8" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0">  -->
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
<div id="container">
    <header>
        <div id="logo">
            <a href="index.html">
                <h1>OMOK</h1>
            </a>
        </div>
        <nav>
            <ul class="navMenu">
                <li class="navItem"><a href="#">오목게임</a></li>
                <li class="navItem"><a href="#">복기 게시판</a></li>
                <li class="navItem"><a href="#">선물하기</a></li>
                <li class="navItem"><a href="#">마이페이지</a></li>
            </ul>
        </nav>
    </header>
    <div id="contents">
        <div id="description">
            <h4><i>사이트/서비스 소개 영역 (or PvC 게임)</i></h4>
            <br>

        </div>
        <div id="ranking">
            <h2>Ranking</h2>
            <!-- <table>
              <tr>
                <th>순위</th>
                <th>닉네임</th>
                <th>전적</th>
              </tr>
              <tr>
                <td>1</td>
                <td>id1</td>
              </tr>
              <tr>
                <td>2</td>
                <td>id2</td>
              </tr>
              <tr>
                <td>3</td>
                <td>id3</td>
              </tr>
            </table> -->


        </div>
    </div>
    <footer>


    </footer>
</div>

<script type="text/javascript" src="/index.js" charset="UTF-8"></script>
</body>
</html>

